[2022-10-13 01:26] zhaomin1423 opened #13 "hudi module has a typo"
<img width="503" alt="image" src="https://user-images.githubusercontent.com/49054376/195477482-de705f42-cdb9-4f3f-93e5-eee4cadaf990.png">

[2022-10-13 07:07] #13 closed, assigned to nobody

[2022-10-13 08:06] zhaomin1423 opened #17 "[BUG] without exception log when submitting a job have an exception"

[2022-10-20 08:47] #17 closed, assigned to nobody

[2022-10-25 03:09] BlockLiu opened #38 "Add test container for doris."
## Is your feature request related to a problem? Please describe

Doris connector ITCase test is ignored now because we need start a local Doris for test beforehand.

## Describe the solution you'd like

Use [DockerComposeContainer](https://www.testcontainers.org/modules/docker_compose/) to achieve Doris test container.
 - https://github.com/myfjdthink/doris-docker-compose

## Describe alternative

[2022-10-27 05:39] theseusyang1 opened #57 "没有前端？"
此平台没有前端？

[2022-10-27 05:45] zengqinchris opened #58 "flink版本有支持1.13吗"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-10-27 06:48] EMsnap opened #62 "found some types in readme"
## Describe the bug

see below

## To Reproduce

![image](https://user-images.githubusercontent.com/26538404/198211158-8190eb80-006b-49a5-badb-e7c8d28a594b.png)

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

![image](https://user-images.githubusercontent.com/26538404/198211158-8190eb80-006b-49a5-badb-e7c8d28a594b.png)

## Build Environment

[2022-10-27 06:58] QiLuo-BD commented on #57
目前主要是引擎，前端在计划中，也欢迎贡献～

[2022-10-27 07:48] #38 closed

[2022-10-27 07:51] lichang-bd commented on #62
@EMsnap
Thanks for the correction, it's being fixed right now

[2022-10-27 08:12] lichang-bd commented on #57
@theseusyang1 目前是专注在数据集成引擎，提供通用的数据同步能力，之后会计划和其它平台打通，包括开发、调度平台，提供一站式的数据开发体验

[2022-10-27 08:55] #62 closed

[2022-10-27 09:04] libailin opened #64 "hive 读取支持自定义sql"
请问 hive 读取这块会像jdbc 那样，支持自定义sql吗？
由于可能涉及到不同库下hive表与 hive 表之间的同步的数据量比较大，整表同步的话不太现实。

[2022-10-27 10:29] AIMWLI opened #65 "当前支持输出ck吗?"
需求: 业务场景OLAP, 计算后想输出到ck, 请问当前版本支持吗?

[2022-10-27 10:39] xmt1139057136 opened #66 "RabbitMQ有计划支持吗？"
RabbitMQ有计划支持吗？

[2022-10-27 11:15] QiLuo-BD commented on #66
connector会逐一补充，欢迎贡献

[2022-10-27 12:16] garyli1019 commented on #65
clickhouse sink内部版本支持了，正在往开源迁移，预计短期内就能支持

[2022-10-27 12:18] garyli1019 commented on #64
这涉及到中间做一层转换后落地，中间转换的接口有预留，roadmap中有计划实现sql转换

[2022-10-27 12:19] garyli1019 commented on #58
当前只支持flink 1.11，roadmap中有支持多版本flink

[2022-10-29 13:57] sjq1992 opened #69 "binlog2hudi链路需求"
bitsail目前是否支持binlog connector？看了下代码里除了MysqlBinlogEventTimeExtractor没有其他相关的代码，是暂时还没有开源？

我们这边目前binlog->kafka->hudi的架构在kafka扩分区场景下存在消息乱序问题，bitsail是否能提供解决该问题的方案？

另外问下，bitsail有交流群么

[2022-10-29 14:00] sjq1992 commented on #58
多版本的支持是在flink基础api不变的情况下向下兼容的么，即bitsail一个版本能运行在flink 1.11-1.14多个版本上？

[2022-10-30 04:48] atkawa7 opened #71 "Javahost dependency doesn't work on latest JDK (11+)"
Uses reflection on `InetAddress`  which no longer exists

[code]

[2022-10-31 03:52] garyli1019 opened #74 "[BitSail][Connector] Migrate redis legacy connector to connector v1 interface"
## Is your feature request related to a problem? Please describe

NA

## Describe the solution you'd like

Migrate redis legacy connector to connector v1 interface

## Describe alternatives you've considered

NA

## Additional context

NA

[2022-10-31 03:56] garyli1019 commented on #58
@sjq1992 计划是这样的，flink接口不兼容的情况加基于不同的版本编译

[2022-10-31 03:57] garyli1019 commented on #71
hi, currently we only support JDK1.8

[2022-10-31 04:00] garyli1019 commented on #69
计划会接入flinkcdc，具体问题可以扫描readme里的二维码进入微信群讨论

[2022-10-31 04:00] #64 closed

[2022-10-31 04:01] #57 closed

[2022-10-31 04:33] gnuhpc opened #75 "Does Bitsail support ETL during data integration?"
Like FlinkCDC framework.

[2022-10-31 07:19] matthewxuda opened #76 "run mvn clean install, and then build failed"
![image](https://user-images.githubusercontent.com/5927005/198952917-a5b20236-6df3-4b57-bbb8-a1cc320f6468.png)

[2022-10-31 07:59] kafcat opened #77 "kafkatest 测试用例无法启动"
<img width="1596" alt="image" src="https://user-images.githubusercontent.com/19561990/198959410-9d718db3-62e8-42c2-8dcf-57001aac568a.png">

本地docker环境已经启动。
<img width="1308" alt="image" src="https://user-images.githubusercontent.com/19561990/198959544-602bd7f8-c5b8-4ef3-a5ed-a0fd3798f127.png">

请问执行case的流程是什么，按照文档说明报以上错误。

[2022-10-31 08:10] garyli1019 opened #78 "flaky test causing the CICD failures"
## Describe the bug
CICD sometime fails due to flaky tests.

[2022-10-31 08:41] kafcat commented on #77
重试和重启过了 不行。我用的kafka版本是2.8.1   在创建镜像的时候，源码这个
![image](https://user-images.githubusercontent.com/19561990/198966541-ff80ff54-b315-4773-aad8-2d1c9411b47e.png)
是不是要改写？

我改成对应的confluet版本
![image](https://user-images.githubusercontent.com/19561990/198966655-1ca822b8-90ae-47d4-a047-8cf8c2d4017c.png)还是报无法找到可用的docker环境。

然后我查看我本地的kafka image名称
<img width="417" alt="image" src="https://user-images.githubuse

[2022-10-31 09:08] matthewxuda commented on #76
![image](https://user-images.githubusercontent.com/5927005/198971979-97487d7f-c50a-40ec-8102-1ffa62bb7cae.png)

[2022-10-31 10:00] matthewxuda commented on #76
build success now
how to use it after build success

[2022-10-31 10:17] matthewxuda commented on #76
build success now
how to use it after build success

[2022-10-31 10:24] garyli1019 commented on #77
@love-star met this Docker issue before. Would you describe how you resolved this issue?

[2022-10-31 10:27] kafcat commented on #77
ok  thx  look forward to your reply.

[2022-10-31 11:49] love-star commented on #77
@kafcat Can you describe your environment? such as operating system, docker version, docker machine version and JDK version. I have met a a similar problem, you can try "docker-machine create default" in your terminal, if you meet question like "VBoxManage not found. Make sure VirtualBox is installed and VBoxManage is in the path", you should install virtualbox 6, if you meet any other question li

[2022-11-01 01:50] BlockLiu commented on #78
In what test?

[2022-11-01 02:40] laiyijie opened #80 "文档中没有看到 cdc 相关支持"

[2022-11-01 02:47] kafcat commented on #77
thx for your reply，

I used Docker Desktop on  macOS as local env. for debugging code  ,
version:
Docker version 20.10.20,
IDEA jdk 1.8,
kafka version 2.8.1  / openjdk11
zk version 3.4.13 /java-7-openjdk
installed kafka and zk images all used default configuration。

[2022-11-01 07:58] love-star commented on #77
I meet the same problem as you, what I do is delete the default mirror, install "docker-machine", install virtualbox 6, and "sodu vim /etc/vbox/networks.conf",  place "* 0.0.0.0/0 ::/0" in this file.

[2022-11-01 09:15] kafcat commented on #77
ok  I'll try it later  THX~

[2022-11-01 11:51] RuitaoZhai opened #81 "mariadb driver access mysql failed"
run a mysql reader job ，sql driver exception ：
![image](https://user-images.githubusercontent.com/19561990/199226230-5452747e-d4eb-438e-a3b5-efaf39409a11.png)

source code driver name is mariadb  ，is it fully compatible  for connectting mysql
![image](https://user-images.githubusercontent.com/19561990/199225983-47487f84-3cc5-49e9-bab1-c099b3dc6f09.png)

does mysql version occur this problem or oth

[2022-11-02 01:58] #81 closed

[2022-11-02 02:39] Fnck opened #83 "mvn clean package got compilation failure"
Got the master branch, and run
`mvn clean package -D maven.test.skip=true`
but got following compilation failure:
`
/bitsail/bitsail-connectors/bitsail-connectors-legacy/bitsail-connector-ftp/src/main/java/com/bytedance/bitsail/connector/legacy/ftp/source/FtpInputFormat.java:[75,91] incompatible types: java.lang.String cann
ot be converted to com.bytedance.bitsail.common.type.TypeInfoConverter
`
T

[2022-11-02 06:21] hk-lrzy opened #84 "[Connector-JDBC]MaridbDriver not support Integer.MIN_VALUE when set fetch size."
## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce

We can reproduce the bug as follows (use screenshots if necessary):

1. The job conf is: '....'

2. The test data is: '....'

3. Bitsail run command: '....'

4. The error can be seen in: '....'

(Note that the above sentences are not necessary for each bug report issue.)

## Expected behavior

A clear and con

[2022-11-03 02:49] lujg commented on #76
Maybe we need to tell users install and run Docker first when they run IT case @hk-lrzy.

[2022-11-03 03:14] #84 closed

[2022-11-03 06:36] hk-lrzy opened #91 "[BitSail][Runtime]Support SourceReader DirtyCollector & Messenger"
## Is your feature request related to a problem? Please describe

Now we support source reader for unified arch in bitsail. In legacy mode, we already support messenger & dirty collector for rate limit & dirty collector features.

We want support this feature in `SourceReader` also.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alter

[2022-11-04 05:31] melin commented on #69
不建议采用flinkcdc 方案，被绑定到flinkcdc 版本依赖，flInkcdc 现在活跃度不是很高，高级功能开源到内部版本，依赖

[2022-11-04 08:17] yanghuaiGit opened #94 "[bugfix]KerberosAuthenticator#getugi error"
## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce

KerberosAuthenticator.getUgi not execute UserGroupInformation#loginUserFromKeytabAndReturnUGI, Even though kerberos parameters are passed。

this is my test
![image](https://user-images.githubusercontent.com/38883656/199924855-bbf25d2d-3ff8-4a77-9692-1b9c6a362e80.png)

securityConfiguration.get(KerberosOptions

[2022-11-04 08:18] yanghuaiGit commented on #94
securityConfiguration.get(KerberosOptions.KERBEROS_ENABLE) always  return false
![image](https://user-images.githubusercontent.com/38883656/199925592-1a1674cd-8a25-4214-a385-208163e1a412.png)

[2022-11-07 08:32] garyli1019 commented on #69
@melin 感谢建议，这块我们最近会调研一下

[2022-11-07 08:59] melin commented on #69
之前在设计产品是数据库，比较好控制。新的公司，发现产品调度用了mq，很复杂，依赖也比较中，计划还是重构成数据库。咨询过dataworks
的技术人员，他们也是用数据库轮训方式。

Gary Li ***@***.***> 于2022年11月7日周一 16:33写道：

[2022-11-08 10:58] garyli1019 commented on #78
fixed by #79

[2022-11-08 10:59] #78 closed

[2022-11-08 12:13] garyli1019 opened #103 "[BitSail][Connector] Support PB format serializer in Kafka Source"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 12:16] garyli1019 opened #104 "[BitSail][Connector] Migrate mongoDB legacy connector to V1 interface"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 12:17] garyli1019 opened #105 "[BitSail][Connector] Migrate Hbase legacy connector to V1 interface"
## Is your feature request related to a problem? Please describe

Migrate Hbase legacy connector to V1 interface. We did the migration for Redis on #98

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Additiona

[2022-11-08 12:17] garyli1019 opened #106 "[BitSail][Connector] Migrate hadoop legacy connector to V1 interface"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 12:18] garyli1019 opened #107 "[BitSail][Connector] Migrate Redis legacy connector to V1 interface"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 12:19] garyli1019 commented on #107
sink part completed via #98

[2022-11-08 12:21] garyli1019 opened #108 "[BitSail][Runtime] Support multi version of Flink(1.13 1.14 1.15 1.16)"
## Is your feature request related to a problem? Please describe

Currently we only support Flink 1.11. We want to support multiple Flink version and be able to compile with different maven profile. Some Flink API was change during the version upgrade, so we need to find a way to resolve this issue.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

[2022-11-08 12:23] garyli1019 commented on #74
sink part completed via https://github.com/bytedance/bitsail/pull/98

[2022-11-08 12:24] garyli1019 opened #109 "[BitSail][Connector] Support clickhouse sink connector"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 12:25] garyli1019 opened #110 "[BitSail][Connector] Support durid sink connector"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 12:27] garyli1019 opened #111 "[BitSail][Connector] Support CSV Source connector"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 12:28] garyli1019 opened #112 "[BitSail][Connector] Support local file source connector"
## Is your feature request related to a problem? Please describe

We need to read local file as source. CSV file format could be a good start.

## Describe the solution you'd like

Use V1 source connector interface, read CSV file as source and able to write to `PrintSink`

## Additional context

[2022-11-08 12:29] garyli1019 opened #113 "[BitSail][Connector] Migrate Kafka legacy source connector to V1 interface"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 12:33] #74 closed

[2022-11-08 12:35] garyli1019 commented on #65
#109 issue created, closing this

[2022-11-08 12:36] garyli1019 commented on #58
issue created #108

[2022-11-08 12:36] #58 closed

[2022-11-08 17:10] lichang-bd opened #114 "[BitSail][Doc] Add Elasticsearch Connector in ReadMe"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 17:13] lichang-bd opened #115 "[BitSail][Doc] Add Kudu Connector in ReadMe"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 17:16] lichang-bd opened #116 "[BitSail][Doc] Building the project home page based on GitHub Pages"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 17:20] lichang-bd opened #117 "[BitSail][Doc] Change LarkSheet_connector to LarkSheet connector in connector introduction"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 17:20] lichang-bd commented on #117
Reference to https://github.com/bytedance/bitsail/blob/master/docs/connectors/introduction.md

[2022-11-08 17:22] lichang-bd opened #118 "[BitSail][Runtime] Support latest JDK (11+)"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 17:23] lichang-bd commented on #118
#71

[2022-11-08 17:33] lichang-bd opened #119 "[BitSail][Test] Add Hbase test container in bitsail-test"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 17:34] lichang-bd commented on #119
Reference https://github.com/bytedance/bitsail/tree/master/bitsail-test/bitsail-connector-test/src/main/java/com/bytedance/bitsail/test/connector/test/testcontainers

[2022-11-08 17:34] lichang-bd opened #120 "[BitSail][Test] Add FTP/SFTP test container in bitsail-test"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 17:35] lichang-bd opened #121 "[BitSail][Connector] Support Druid sink connector"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 17:37] lichang-bd opened #122 "[BitSail][Connector] Support Pulsar sink connector"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 17:37] lichang-bd opened #123 "[BitSail][Connector] Support Pulsar Source connector"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 17:43] lichang-bd opened #124 "[BitSail][Core] Support metric gather, based on prometheus"
## Is your feature request related to a problem? Please describe

Currently only supports LogMetricReporter

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Additional context

Add any other context or screensh

[2022-11-08 17:45] lichang-bd commented on #124
Currently only supports LogMetricReporter

[2022-11-08 17:47] lichang-bd opened #125 "[BitSail][Doc] Add BitSail Logo to the introduction section in ReadMe"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 17:48] lichang-bd commented on #125
<img width="144" alt="BitSaillogo" src="https://user-images.githubusercontent.com/69448640/200638310-84b0b84c-364c-4411-84f1-ea813543a827.png">

[2022-11-08 17:53] lichang-bd opened #126 "[BitSail][Connector] Support S3 sink connector"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 17:54] lichang-bd commented on #126
Currently only supports HDFS storage, can be extended to object storage, such as S3

[2022-11-08 17:55] lichang-bd opened #127 "[BitSail][Connector] Support Iceberg sink connector"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 17:56] lichang-bd opened #128 "[BitSail][Core] Unified stream and batch data parsing module, such as BytesParser"
## Is your feature request related to a problem? Please describe

At present, the BytesParser of batch channel and stream channel are implemented separately and need to be unified

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you'

[2022-11-08 17:57] lichang-bd commented on #128
At present, the BytesParser of batch channel and stream channel are implemented separately and need to be unified

[2022-11-08 17:59] lichang-bd opened #129 "[BitSail][Core] Support real-time display of task progress"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 18:00] lichang-bd commented on #129
The real-time progress can be constructed by using the split completion status and the topo original information of the task

[2022-11-08 18:00] lichang-bd opened #130 "[BitSail][Core] Unified stream and batch hive row builder module"
## Is your feature request related to a problem? Please describe

At present, the row builder of batch channel and stream channel are implemented separately and need to be unified

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you'

[2022-11-08 18:01] lichang-bd commented on #130
At present, the row builder of batch channel and stream channel are implemented separately and need to be unified

[2022-11-08 18:01] lichang-bd opened #131 "[BitSail][Core] Unified stream and batch hive writer"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 18:02] lichang-bd opened #132 "[BitSail][Runtime] Support native K8S submission"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 18:03] lichang-bd commented on #132
Currently only supports local and yarn, not k8s yet

[2022-11-08 18:06] lichang-bd opened #133 "[BitSail][Connector] Migrate hbase legacy connector to V1 interface"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 18:07] lichang-bd opened #134 "[BitSail][Connector] Migrate larksheet legacy connector to V1 interface"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 18:07] #133 closed

[2022-11-08 18:09] lichang-bd opened #135 "[BitSail][Connector] Migrate ftp legacy connector to V1 interface"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 18:09] lichang-bd opened #136 "[BitSail][Connector] Migrate mysql legacy connector to V1 interface"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 18:10] lichang-bd opened #137 "[BitSail][Connector] Migrate rocketmq Sink connector to V1 interface"
## Is your feature request related to a problem? Please describe

RMQ Source was completed, we need to migrate sink to V1 interface as well.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

## Additional context

[2022-11-08 18:11] lichang-bd opened #138 "[BitSail][Connector] Migrate hive legacy connector to V1 interface"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-08 18:12] lichang-bd opened #139 "[BitSail][Connector] Migrate oracle legacy connector to V1 interface"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-09 01:46] BlockLiu opened #140 "Support Doris ITCase test."
## Is your feature request related to a problem? Please describe

Current BitSail supports Doris writer in `connector-doris` module.
This module includes a `DorisSinkITCase` test which is ignored because it requires offline Doris for test.
This issue wants to integrate a Doris cluster into current test case, just like `ElasticsearchCluster` or other test containers.

## Describe the solution you'd

[2022-11-09 01:54] BlockLiu opened #141 "Supports DDL sync in Kudu Writer."
## Is your feature request related to a problem? Please describe

Current BitSail supports `KuduWriter` in `connector-kudu` module.

In practical use, when the upstream schema  has one or more columns that target Kudu table does't have, we may want to add these columns to the Kudu Table.

So this issue requires supports such DDL sync in Kudu Writer.

## Describe the solution you'd like

One can us

[2022-11-09 02:04] BlockLiu opened #142 "[BitSail][Connector] Support INSERT IGNORE INTO in mysql connector."
## Is your feature request related to a problem? Please describe

Current mysql writer in `bitsail-connector-jdbc` module supports the following two way to update data:

 - `INSERT INTO ...`
 - `INSERT INTO ... xxxx=VALUES(...) ON DUPLICATE KEY UPDATE`

This issue wants to support `INSERT IGORE INTO ...` in mysql connector.

## Describe the solution you'd like

## Describe alternatives you've cons

[2022-11-09 02:19] BlockLiu opened #143 "[BitSail][Connector] Optimize split strategy in Kudu Reader"
## Is your feature request related to a problem? Please describe

Current Kudu reader only supports one split strategy, _i.e._ SIMPLE_DIVIDE which simply evenly divide a integer range into several sub-ranges as splits.
Document reference: [connector-kudu](https://github.com/bytedance/bitsail/blob/master/docs/connectors/kudu/kudu.md)

This split strategy has shortages:
 1. User has to determine a i

[2022-11-09 02:24] BlockLiu opened #144 "[BitSail][Connector] Redis writer supports HMSET command."
## Is your feature request related to a problem? Please describe

Current Redis writer supports HSET command.

In some cases, an upstream row may contain one key and multiple <key-value> pairs, which is not supported now.
So this issue wants to support HMSET in redis writer.

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2022-11-09 02:31] BlockLiu opened #145 "[BitSail][Connector] Add RabbitMQ source connector."
## Is your feature request related to a problem? Please describe

Support RabbitMQ reader that can be used in streaming dump task.

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2022-11-09 02:38] BlockLiu opened #146 "[BitSail][Connector] Support ElasticSearch Source connector."
## Is your feature request related to a problem? Please describe

Support ElasticSearch reader.

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2022-11-09 03:28] BlockLiu opened #147 "[BitSail][Connector] Support more send method in Kafka writer."
## Is your feature request related to a problem? Please describe

Current `KafkaOutputFormat` supports only the following two send method in KafkaProducer:
 - `public Future<RecordMetadata> send(ProducerRecord<K, V> record, Callback callback)`
 - `public Future<RecordMetadata> send(ProducerRecord<K, V> record, Callback callback)`

Sometimes, one may want to add more data in the ProducerRecord such

[2022-11-09 03:43] BlockLiu opened #148 "[BitSail][Connector] FakeSource supports generating unique columns."
## Is your feature request related to a problem? Please describe

Current `FakeSource` supports generate unique long value.
But sometimes we may want to generate more type of unique columns, like string  or date.

This issue wants to support generate unique columns for the following type:
 - int
 - short
 - string
 - bigint
 - date

## Describe the solution you'd like

## Describe alternatives you

[2022-11-09 04:01] BlockLiu opened #149 "[BitSail][Connector] Doris support deducing partitions."
## Is your feature request related to a problem? Please describe

Current Doris connector supports write one or more partitions in one job.

To write N partitions, users have to determine the details of the N partitions, including name, start and end range, which is a burden for users.
Details can be seen at `com.bytedance.bitsail.connector.doris.option.DorisWriterOptions.PARTITIONS`.

In some cas

[2022-11-09 04:44] hk-lrzy opened #151 "[BitSail][Format]Use deserializationFormat replace RowBuilder"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-09 06:25] garyli1019 commented on #66
#145 feature request created. closing this

[2022-11-09 06:25] #66 closed

[2022-11-09 06:49] garyli1019 commented on #125
fixed by #152

[2022-11-09 06:49] #125 closed

[2022-11-09 06:49] garyli1019 commented on #115
fixed by #152

[2022-11-09 06:49] #115 closed

[2022-11-09 06:50] garyli1019 commented on #114
fixed by #152

[2022-11-09 06:50] #114 closed

[2022-11-09 08:35] garyli1019 commented on #121
duplicate with #110

[2022-11-09 08:35] #121 closed

[2022-11-09 08:36] BlockLiu commented on #109
Could you assign this to me?

[2022-11-09 08:51] #117 closed

[2022-11-09 08:54] garyli1019 commented on #120
We have a FTP server in the IT case, which has a similar role as test container. So I think this is okay to skip for now. closing this issue

[2022-11-09 08:54] #120 closed

[2022-11-09 09:08] garyli1019 opened #153 "[BitSail][Connector] Support Assert sink connector"
## Is your feature request related to a problem? Please describe

Currently we support print sink and we use print in some tests, but print is not sufficient enough to verify the test result.
So we need an `AssertSink` to verify the test result more accurately.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've conside

[2022-11-09 11:59] aozeyu opened #154 "是否能支持SpringBoot3"

[2022-11-09 11:59] aozeyu commented on #154
@microxxx @lark

[2022-11-09 12:39] aozeyu commented on #154
@onebird

[2022-11-09 13:02] gitfortian opened #155 "support syslog source connector"
## Is your feature request related to a problem? Please describe
we need to collect logs from many machines by send syslog,can bitsail support it
A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and

[2022-11-09 13:07] ayonel commented on #154
BitSail works as a local process or a flink job on yarn. What do you need is a lightweight SDK to be integrated with SpringBoot? If I understood correctly, the answer will be No!

But you can launch a BitSail job in SpringBoot and any other code,  as long as the environment is satisfied for BitSail.

[2022-11-09 13:20] aozeyu opened #156 "目前Bitsail 文档没有网站在线阅读是吗, 后期是否会加上文档网站呢。"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-09 15:20] wistwill opened #157 "[Feature][OceanBase]We need a connect for DataBase of OceanBase"
## Is your feature request related to a problem? Please describe

We need support  source or sink of OceanBase.

## Describe the solution you'd like

1.Support the way of JDBC.
2.Support a Source connectors-OceanBase and a Sink connectors-OceanBase.

[2022-11-09 16:09] wuchunfu opened #158 "Startup error"
When I start in the local mode, an error is reported. How can I solve it? The following is the error message

[code]

[2022-11-10 00:49] aozeyu commented on #154
@ayonel Thanks , but I want to know if I don't need sdk in my project, but will it be supported when the springboot version is 3, or it is not compatible with 3 at present.

[2022-11-10 01:42] aozeyu opened #159 "About download dependencies with maven?"
Big guy, why can't the maven download dependencies be downloaded after I fork the bitsail repository? There is no problem with my maven configuration, and other projects can download dependencies.

<img width="1266" alt="截屏2022-11-10 09 41 49" src="https://user-images.githubusercontent.com/55688386/200979692-6c53fc36-2439-4546-8e87-d208e72e3be6.png">
<img width="732" alt="截屏2022-11-10 09 42 09" sr

[2022-11-10 01:43] aozeyu commented on #159
@microxxx
@onebird
@snakev

[2022-11-10 01:44] aozeyu commented on #159
I tried to google but the solution told me that there is a problem with maven configuration, but I checked my maven configuration and there is no problem, please help me solve my confusion?

[2022-11-10 01:47] aozeyu commented on #159
The download dependency has been stuck in the download plugin

[2022-11-10 02:08] liugddx commented on #144
assign to me,thanks

[2022-11-10 02:38] garyli1019 commented on #148
@laglangyue sure! Assigned to you, please take your time.

[2022-11-10 02:38] garyli1019 commented on #144
@liugddx assigned to you!

[2022-11-10 03:01] garyli1019 opened #160 "[BitSail][Connector] Support CDC Source Connector"
## Is your feature request related to a problem? Please describe

We would like to support a CDC source connector and provide a complete CDC->Datalake(Hudi) solution to our user.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you'v

[2022-11-10 03:05] garyli1019 commented on #159
@aozeyu Hi, looks like this is a downloading issue. Instead of downloading it through IDEA, you can also try run the `build.sh` script and download the dependency through the maven command line, in this case you will see which package was stuck.

[2022-11-10 03:05] garyli1019 commented on #158
Hi @wuchunfu , which JDK version are you using?

[2022-11-10 03:07] yucongcong654 commented on #156
是不是可以社区激励形式来共建开发？

[2022-11-10 03:09] garyli1019 commented on #157
@wistwill Hi, I converted this to a connector request and added to the contributor motivation program.

[2022-11-10 03:12] aozeyu commented on #159
@garyli1019  Thank you for your answer, I tried to use sh ./build.sh to download, the current situation is that I can download most of the dependencies, but when I download a plugin, I get an error, it seems to be something under bitsail-all?

<img width="1280" alt="截屏2022-11-10 11 08 58" src="https://user-images.githubusercontent.com/55688386/200991868-a9daef5b-2d89-44dc-a947-2dcf939e91f4.png">
<

[2022-11-10 03:14] aozeyu commented on #159
Do these plug-ins have any impact on the whole? If so, how can I download them all? Please answer my confusion?
@garyli1019

[2022-11-10 03:18] aozeyu commented on #156
加一

[2022-11-10 06:13] BlockLiu commented on #156
目前有正在支持文档网站建设，辛苦先在doc目录进行文档查找。

[2022-11-10 06:16] aozeyu commented on #156
@BlockLiu 好的感谢你的回复

[2022-11-10 06:16] #156 closed

[2022-11-10 06:20] BlockLiu commented on #156
也鼓励大家完善或者补齐bitsail connector或者功能模块文档介绍哈

[2022-11-10 06:41] garyli1019 commented on #159
@aozeyu Would you try to remove `org.apache.common` package under the maven cache `~/.m2/repository` and try remove related package as well? It is possible the cached packages were corrupted.

[2022-11-10 06:48] aozeyu commented on #159
@garyli1019

I deleted my local repository ~/.m2/repository, re-executed the sh ./build.sh command to download most of the packages, but still can't download plugins, I tried google, Google told me that it may not be the maven problem is the plugin the problem 😂
<img width="1280" alt="截屏2022-11-10 14 33 32" src="https://user-images.githubusercontent.com/55688386/201020055-0cb0af3f-cdcc-4d0f-a334-2

[2022-11-10 06:51] aozeyu commented on #159
Is it caused by some plugins installed in my local idea 😂 @garyli1019

[2022-11-10 06:52] garyli1019 commented on #159
@aozeyu what is your JDK version?

[2022-11-10 06:56] aozeyu commented on #159
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

    我的jdk版本是1.8,是必须要17以上吗

                                3484766443

                                    ***@***.***

    ---- Replied Message ----

         From

            Gary ***@***.***>

         Date

        11/10/2022 14:53

         To

            ***@***.***>

[2022-11-10 07:43] chenup commented on #140
pls assign it to me~

[2022-11-10 07:48] BlockLiu commented on #140
sure! Assigned to you, please take your time.

[2022-11-10 11:07] love-star commented on #159
you can use "mvn -v" to see what java version your maven use. if it is oracle jdk 8, try click your idea File->Invalidate Caches and reload maven.

[2022-11-10 11:09] love-star commented on #159
@aozeyu you can use "mvn -v" to see what java version your maven use. if it is oracle jdk 8, try click your idea File->Invalidate Caches and reload maven.

[2022-11-10 11:48] zeliu commented on #147
hi @BlockLiu  I'd like to have a try, please assign it to me.

[2022-11-10 11:50] aozeyu commented on #159
@love-star Thank you for your help, the advice you gave is very helpful for me, I solved the problem and successfully downloaded the dependencies, thank you for your reply.
<img width="1245" alt="截屏2022-11-10 19 50 30" src="https://user-images.githubusercontent.com/55688386/201083398-8c6a0cf6-5b1f-48e0-92cb-29638d398e60.png">

[2022-11-10 11:51] BlockLiu commented on #147
Sure, take your time!

[2022-11-10 12:02] love-star commented on #159
@aozeyu You're welcome, We're glad you're interested in Bitsail. I hope this project can help you, and look forward to your Pull Requests!

[2022-11-10 13:39] wuchunfu commented on #158
1.8.0_202

[2022-11-10 14:28] aozeyu opened #162 "About whether it is possible to annotate enum values？"
Is this necessary? Is it more friendly to add comments to enumeration fields for future maintainers?
Because people like me who are new to this project may want to understand the function of this enumeration value, do I need to add a comment? If it is not necessary, just pretend I didn't say it.  😂
<img width="1263" alt="截屏2022-11-10 22 26 07" src="https://user-images.githubusercontent.com/5568838

[2022-11-11 02:16] love-star commented on #162
@aozeyu Of course you can, just do it and make your PRs, remember to use english and the code check-style when you add comments.

[2022-11-11 02:24] garyli1019 commented on #110
@ysamchu assigned this issue to you~

[2022-11-11 02:49] aozeyu commented on #162
@love-star Ok, thanks for your reply, I thought I could add it 😂.

[2022-11-11 03:14] garyli1019 commented on #158
found a related issue https://github.com/microsoft/azure-maven-plugins/issues/988 , I believe that's related to jdk. I will take a look later today

[2022-11-11 05:55] #159 closed, assigned to nobody

[2022-11-13 07:59] john8628 commented on #142
please assign to me; i will try it ,thanks

[2022-11-13 15:21] wuchunfu commented on #104
@garyli1019 Please assign to me, thanks

[2022-11-13 15:22] wuchunfu commented on #111
@garyli1019 Please assign to me, thanks

[2022-11-13 16:13] Doooing opened #168 "bitsail 支持批量创建同步任务或者整库创建同步任务吗?"
bitsail 支持批量创建同步任务或者整库创建同步任务吗?

同步任务涉及的表挺多, 几万张需要同步, 所以也比较关心任务配置方面的情况

[2022-11-14 02:01] garyli1019 commented on #142
@john8628 assigned to you, thanks!

[2022-11-14 02:02] garyli1019 commented on #111
@wuchunfu assigned to you, thanks!

[2022-11-14 02:03] garyli1019 commented on #104
@wuchunfu sure

[2022-11-14 06:41] Doooing opened #169 "bitsail 是否支持对接 flume, 是如何对接的?"
bisail 是否支持对接 flume, 是如何对接的?

[2022-11-14 07:07] Doooing opened #170 "bitsail 如何配置实时流任务?"

[2022-11-14 09:46] numbernumberone opened #171 "Fake_Print_Example demo not work"
1. embedded modle run flink on localhost
[code]
2. submit Fake demo
[code]
3. not work
standalonesession.log
[code]
flink-client.log
[code]

please help 😂

[2022-11-14 11:54] lichang-bd commented on #80
Currently, BitSail does not support CDC, there is an ISSUE that will follow up this issue #160

[2022-11-14 12:02] BlockLiu commented on #171
I think it may caused by the jobmanager port.
Could you try to use flink rest port (8081) instead of rpc port (6123) in jobmanager?

[2022-11-14 13:33] numbernumberone commented on #171
Thank you very much. The demo you provided can solve my problem 👍

[2022-11-15 02:08] #171 closed

[2022-11-15 06:55] FantasticLiar opened #174 "Bitsail Support Field Processing（like encryption)"
## Is your feature request related to a problem? Please describe
Noop

## Describe the solution you'd like

We want to complete the encryption of some fields during the data synchronization phase, in order to shield some sensitive information.

## Describe alternatives you've considered

Maybe this operation can be converted at source or sink, but is there a more general way?

## Additional contex

[2022-11-15 07:00] FantasticLiar opened #175 "Bitsail support collection of data synchronization table, field lineage information"
## Is your feature request related to a problem? Please describe
Noop

## Describe the solution you'd like

I want to be able to easily collect the metadata information and blood relationship information of the task after the task is completed, so as to facilitate the development of subsequent data governance work

## Describe alternatives you've considered

Is there some message bus that can easi

[2022-11-15 07:23] numbernumberone opened #177 "Bitsail flink on yarn demo not work 'Cannot find library'"
submit task to centos7 with yarn cluster.

error log with `embedded flink-client.log`
[code]

[2022-11-15 08:32] numbernumberone commented on #177
pluginName2Plugin is
[code]

[2022-11-15 08:57] hk-lrzy opened #178 "[BitSail]Support Database sync in single job."
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2022-11-15 09:26] numbernumberone commented on #177
@hk-lrzy hello
### my problem environment is centos7
Because the code is not pulled through git for network reasons.
code download ZIP from github.
1. Execute the following command on centos

[code]
2. result is ：
bitsail-core.jar not  exists  `.dataleap.bitsail.version.properties`
<img width="646" alt="image" src="https://user-images.githubusercontent.com/17960477/201880831-32b9667a-a74f-4f98-80e

[2022-11-16 03:01] numbernumberone commented on #177
@hk-lrzy
[code]

[2022-11-16 06:27] aozeyu opened #180 "When I run the test case under the command line package, I get an error. I don't know if it is a bug, or does it require some prerequisites?"
I'm not sure if this is a bug, please take a look.
<img width="1259" alt="截屏2022-11-16 14 25 55" src="https://user-images.githubusercontent.com/55688386/202100939-cdc1a785-e056-4368-939c-7343593ac891.png">

[2022-11-16 06:27] aozeyu commented on #180
@hk-lrzy @lichang-bd @BlockLiu

[2022-11-16 06:53] BlockLiu commented on #180
I think it's IDEA cache problem. Please reimport the maven project or invalidate cache and restart intellij.

https://stackoverflow.com/questions/12132003/getting-cannot-find-symbol-in-java-project-in-intellij

[2022-11-16 07:27] aozeyu commented on #180
@BlockLiu
Boss, I cleaned the idea's cache and reopened the project, but it didn't work.😂
<img width="1238" alt="截屏2022-11-16 15 25 53" src="https://user-images.githubusercontent.com/55688386/202114467-0b448db3-3e91-4267-9e2d-2ff53d760d34.png">

[2022-11-16 07:36] Jake-00 commented on #112
Hi, there! I'm interested in adding this feature for BitSail, could you assign me this issue?

[2022-11-16 08:00] MonsterChenzhuo commented on #132
Could you assign this to me?

[2022-11-16 08:31] aozeyu commented on #180
@lichang-bd

[2022-11-16 10:12] MonsterChenzhuo commented on #136
@lichang-bd  Please assign to me, thanks

[2022-11-16 10:29] MonsterChenzhuo commented on #138
@john8628 assigned to you, thanks!

[2022-11-16 10:30] MonsterChenzhuo commented on #113
@john8628 assigned to you, thanks!

[2022-11-16 11:31] aozeyu commented on #180
@hk-lrzy @BlockLiu

Good, your suggestion is very helpful to me, it's not an idea cache problem, it's that the enable annotation processing setting is not checked😂
thank you for your help.

[2022-11-16 11:32] aozeyu commented on #180
The test is running

[2022-11-16 12:28] numbernumberone commented on #177
@hk-lrzy This is OK, but I wonder why there is no version file `.dataleap.bitsail.version.properties` for the downloaded code

[2022-11-17 01:42] numbernumberone commented on #177
@hk-lrzy OK, the problem has been solved. Thank you very much

[2022-11-17 09:16] garyli1019 commented on #153
@liuxiaocs7 Assigned to you!

[2022-11-17 09:17] garyli1019 commented on #112
@Jake-00 assigned to you!

[2022-11-17 09:53] #91 closed, assigned to nobody

[2022-11-17 10:05] hk-lrzy opened #183 "[BitSail][JDBC]Imporve MySQL Catalog."
## Is your feature request related to a problem? Please describe

Now we support `TableCatalog` for the difference external system, `TableCatalog` support auto create table when writer's database or table not exits, and also support handle DDL Changes from reader side.

At same time, JDBC is one of most popular connector, so we want to support MySQL Catalog to imporve jdbc connector.

[2022-11-17 18:31] qidian99 commented on #103
Hi, can you assign this issue to me and help review this PR: https://github.com/bytedance/bitsail/pull/185

Best

[2022-11-17 18:34] qidian99 commented on #178
Can you provide more context?

E.g.,
1. what kind of database?
2. Is incremental snapshotting enabled?
3. CDC or snapshot only?

[2022-11-17 18:44] qidian99 commented on #183
Can you assign this issue to me? Thx

[2022-11-17 18:48] qidian99 commented on #123
I'd like to take this issue.

[2022-11-18 01:41] garyli1019 commented on #103
sure, will take a look at the PR

[2022-11-18 07:30] aozeyu opened #186 "Questions about legacy code not being used?"
Whether such unused methods can be deleted, or are these methods useful for later new features, there are currently some methods that are not used in the project.
<img width="1280" alt="截屏2022-11-18 15 31 27" src="https://user-images.githubusercontent.com/55688386/202646343-8af9abe5-9e86-4bde-9012-2d57ae030104.png">

[2022-11-18 07:30] aozeyu commented on #186
@hk-lrzy @garyli1019 @BlockLiu

[2022-11-18 19:06] qidian99 commented on #123
Helped wanted. Every time I started the unified job. The task will finish shortly without consuming any record.

The message is **"Mailbox is in state QUIESCED, but is required to be in state OPEN for put operations."**

<img width="1032" alt="image" src="https://user-images.githubusercontent.com/20527912/202783299-80e5366d-9d7d-4b87-b0e8-41ba0b527c23.png">

[2022-11-18 19:11] qidian99 commented on #123
The job config is as follows:
[code]

I have no idea why it goes into MailboxProcessor::allActionsCompleted every time
<img width="794" alt="image" src="https://user-images.githubusercontent.com/20527912/202783944-bbf46ae4-ccf0-457f-a79e-dda7ec35e9be.png">

[2022-11-21 04:42] zeliu commented on #135
hi @lichang-bd , I'd like to have a try, please assign it to me.

[2022-11-21 08:32] numbernumberone opened #193 "How to customize hive-site.xml in bitsail project"

[2022-11-21 09:00] garyli1019 commented on #193
hi, currently we didn't support this feature yet. I think this is a very good feature to have though. Converting this to a feature request for the contributor motivation program with prize~

[2022-11-21 09:06] garyli1019 commented on #193
Currently we need to pass hive configuration through `job.writer.metastore_properties` to the hive connector, but for the user already have hive-site.xml in their environment, passing those configs manually could be avoided. So we could add a configuration and support loading hive-site.xml automatically.
Note: We need to support two scenarios. `hive-site.xml` only exists on the client side and `hi

[2022-11-21 09:12] StareStarrySky opened #194 "About release"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

Example: I'm always frustrated when [...]

- I don't know which version or branch or commit can be used to production environment.

## Describe the solution you'd like

A clear and concise description of what you want to happen.

- Add a tag or pre-release or something can tel

[2022-11-21 09:17] numbernumberone commented on #193
@garyli1019 yeah，but i found that the configuration `job.writer.metastore_properties` priority in the json is not as high as the environment `hive-site.xml`.

[2022-11-21 09:50] garyli1019 commented on #194
Hi, we are preparing the first release. Thanks for you suggestion and we will update the README. For now you could use the latest commit on master branch.

[2022-11-21 14:26] ysamchu opened #195 "Add DelegateFlinkWriter support on Druid sink connector"
## Is your feature request related to a problem? Please describe

This is a follow-up feature on Druid sink connector support. Refer to [comment](https://github.com/bytedance/bitsail/pull/187#discussion_r1027919957) in Druid support PR, DelegateFlinkWriter is necessary to avoid OOM in practice.

## Describe the solution you'd like

Add DelegateFlinkWriter to Druid sink connector.

## Describe alte

[2022-11-22 02:25] yucongcong654 opened #196 "是否开一个文档类Contributor奖励例如：提交对本项目的学习笔记或开源相关笔记：视频/文章"

[2022-11-22 02:33] #194 closed

[2022-11-22 02:41] garyli1019 commented on #123
@qidian99 assigned to you!

[2022-11-22 02:42] #110 closed

[2022-11-22 03:18] garyli1019 opened #197 "0.1.0 Release Discussion"
Hello, I will be the release manager for the 0.1.0 Release. All the release related discussion will be on this issue. I will also use this issue to track all the blocker issues. Thanks

[2022-11-22 03:25] numbernumberone opened #198 "Will hiveShim support hive.2.3.9 in the future？"
Because my current hive version is 2.3.9,So i cannot use hive metastore
<img width="917" alt="image" src="https://user-images.githubusercontent.com/17960477/203213693-8b2f8e4e-b780-4c0e-b4c6-8fe6b866a0f2.png">

[2022-11-22 03:59] garyli1019 opened #199 "Migrate mysql connector to V1 interface and refactoring"
## Is your feature request related to a problem? Please describe

Migrate Mysql batch connector to V1 interface and refactoring the code structure in order to get watermark. Watermark will be useful for future CDC implementation

## Describe the solution you'd like

A clear and concise description of what you want to happen.

## Describe alternatives you've considered

A clear and concise descript

[2022-11-22 04:00] garyli1019 commented on #199
subtask of #160

[2022-11-22 06:27] Doooing commented on #170
谢谢

[2022-11-22 06:27] #170 closed

[2022-11-22 06:43] #169 closed

[2022-11-22 08:06] numbernumberone opened #200 "Retry get hive meta client failed."
ENV : hive-version : 2.3.9
<img width="2004" alt="image" src="https://user-images.githubusercontent.com/17960477/203258852-b304262c-f8d1-44be-a432-cf7c2f2161cc.png">

[2022-11-22 09:11] #147 closed

[2022-11-22 11:54] ChenpiDog opened #201 "Web UI"
希望能提供一个Web UI，便于使用。

[2022-11-22 15:42] slyang520 opened #203 "windows 下无法使用"

[2022-11-23 02:06] QiLuo-BD commented on #203
could you add more details, like your Windows & other dependency versions,
and detail error messages?

On Tue, Nov 22, 2022 at 11:42 PM slyang ***@***.***> wrote:

[2022-11-23 02:30] liuxiaocs7 opened #205 "[Improve][bitsail-dist]connectors mapping unify naming"
I noticed that connectors mapping file name in connector V1 is `bitsail-connector-unified-{database-name}.json`，should we rename the redis connector json filename to stay unified and add the print connector conf.

![image](https://user-images.githubusercontent.com/42756849/203458722-4a881aa2-4ae4-4076-a959-f3f702dcb723.png)

[2022-11-23 02:35] liuxiaocs7 commented on #205
Of course I'd love to, please assign me.

[2022-11-23 03:11] garyli1019 commented on #198
@numbernumberone thanks for raising this issue. These hive versions are tested by us. There are too many hive version being used across different companies, so for other hive versions not on the list, we are looking for the community's support to verify and add to the list.

[2022-11-23 03:12] garyli1019 commented on #200
hi @numbernumberone , did you create the hive table before running the job?

[2022-11-23 03:16] numbernumberone commented on #200
@garyli1019 hi
This can run
[code]

[2022-11-23 03:17] numbernumberone commented on #198
@garyli1019  Okay Thank you very much

[2022-11-23 03:22] garyli1019 commented on #200
the exception path goes to the shade hive which is in the `bitsail-shade`, would you change the `hive.version` to 2.3.9 on the root pom file and recompile the project?

[2022-11-23 03:44] garyli1019 commented on #201
你好，我们的计划是和外部调度系统结合使用，bitsail主要提供引擎能力，暂时没有计划实现webui

[2022-11-23 08:22] numbernumberone commented on #200
@garyli1019 thank you，I change the hive.version to 2.3.9 on the root pom file and recompile the project。but
env
1. flink lib list
[code]
2. error log
[code]

[2022-11-23 09:18] lujg commented on #200
Have you config Hadoop conf? This is because Hadoop HDFS filesystem is not initialed.

[2022-11-23 09:54] #201 closed

[2022-11-23 16:45] slyang520 commented on #203
![image](https://user-images.githubusercontent.com/8638524/203601914-b9b0d93d-1ea2-478b-80e6-45255a049251.png)

![image](https://user-images.githubusercontent.com/8638524/203601760-cd561c5e-c73d-42f4-8333-e01d9b409a68.png)

[2022-11-24 03:50] QiLuo-BD commented on #203
@garyli1019 could you help look into this issue? seems like a port issue

[2022-11-24 09:36] garyli1019 commented on #200
@numbernumberone hello, did you resolve this issue? If not, we can have a quick call to triage this issue.

[2022-11-24 09:41] garyli1019 commented on #203
Not sure if we can run the integration test on Windows. I will try in my windows machine to see if I can reproduce.

[2022-11-24 09:48] numbernumberone commented on #200
@garyli1019  Not resolved，Thank you so much How can we contact? tenxun meeting ?

[2022-11-27 15:05] healchow commented on #196
标题的描述，是说对 Contributor 进行奖励？还是归档 Contributor 关于本项目的学习笔记或视频？
如果是后者，那可以在 [GitHub 的讨论区](https://github.com/bytedance/bitsail/discussions) 来归档，
或者通过搭建专门的网站来收录和展示，比如 [Flink 社区的博客](https://flink.apache.org/blog)。

[2022-11-29 03:58] yucongcong654 commented on #196
前者，本意是想提出激励除了代码类贡献者，文档类贡献者也很重要，还是有很多人认同社区大于代码的理念

[2022-11-29 04:37] healchow commented on #196
首先说明，我和这个项目利益无关哈，我只是最近关注到了这个项目。
你也说了，“社区大于代码”，开源社区的参与者主要都是自发的爱好者，你这里说到的激励，只是项目发起者的一个促进社区活跃度的活动罢了。
**参与社区更多是源于自身的热爱，而不应该变成“为了拿激励才来贡献”，这样的社区是走不长远的。**

[2022-11-29 08:11] garyli1019 opened #210 "Support Hadoop 3.0.0"
Currently, if we run Hadoop 3.0.0 cluster, the job will throw an error that `hdfs` is not supported, which is caused by `hadoop-common` package doesn't have the `org.apache.hadoop.PathHandle` class. We want to fix this issue and support Hadoop 3.0.0.

[2022-11-30 02:03] garyli1019 commented on #153
@liuxiaocs7 hello, just checking how's everything going with this issue. We have a contributor group to discuss dev issue. Please feel free to join if you are interested
![img_v2_0cd2da0d-3975-4a0e-b257-6ee8a1223c3g](https://user-images.githubusercontent.com/23007841/204689554-1c182084-b4e8-4d84-84a7-087ad56d602a.jpg)

[2022-11-30 02:05] garyli1019 commented on #148
@laglangyue hello, just checking how's everything going with this issue. We have a contributor group to discuss dev issue. Please feel free to join if you are interested
![img_v2_0cd2da0d-3975-4a0e-b257-6ee8a1223c3g](https://user-images.githubusercontent.com/23007841/204689756-883c56f5-40c4-4ba1-829a-86595c368755.jpg)

[2022-11-30 02:10] garyli1019 commented on #144
@liugddx hello, just checking how's everything going with this issue. We have a contributor group to discuss dev issue. Please feel free to join if you are interested
![img_v2_0cd2da0d-3975-4a0e-b257-6ee8a1223c3g](https://user-images.githubusercontent.com/23007841/204690399-b0063fc4-09e9-4e95-a0f0-f07eefe245fb.jpg)

[2022-11-30 06:42] #142 closed

[2022-11-30 12:22] TyrantLucifer opened #212 "[Feature][Connector][File-Connector] Support multi file systems"
Now bitsail not support some file systems like oss s3 hdfs localfile sftp ftp and so on. I want to do this feature.

[2022-11-30 12:27] TyrantLucifer commented on #212
link #26

[2022-11-30 15:17] laglangyue commented on #148
yes，glad to join.